* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}
html {
  font-size:100%;
}
body {
  overflow-x: hidden;
  font:1em/1.5 'Helvetica Neue', Helvetica, Arial;
  background:radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
  color:#fff;
  width: 100%;
}

