<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <base href="/assets/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Matches Gallery - Just remembering the past">
    <meta name="keywords" content="Matches, OldMatches, Kent, Lord, Winston, Marlboro, Parva, Camel, Embassy, Jumbo, Lucky Strike">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link charset="utf-8" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" media="screen" rel="stylesheet">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//plus.google.com/+HosseinKarami" rel="author">
    <link href="css/style.min.css" rel="stylesheet">

    <meta property="og:url" content="http://www.imatches.ir/">
    <meta property="og:title" content="Matches Gallery">
    <meta property="og:description" content="Just remembering the past">
    <meta property="og:image" content="http://imatches.ir/assets/img/facebook.png">

  </head>
  <body>
    <header>
      <h2>Matches Gallery</h2>
      <h6>Just remembering the past</h6>
    </header>